body {
  overflow: hidden;
}

.pet {
  border-radius: 10px;
  width: 80px;
  height: 80px;
}
.block {
  width: 400px;
}
.button {
  padding: 6px 50px;
  background: #777;
  color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background: #222;
}

.button:active {
  background: #777;
}

#hunger {
  background: #99cc00;
  border-radius: 4px;
  padding: 3px 3px;
}

#hygiene {
  background: #99cc00;
  border-radius: 4px;
  padding: 3px 3px;
}

#sleep {
  background: #99cc00;
  border-radius: 4px;
  padding: 3px 3px;
}

#fun {
  background: #99cc00;
  border-radius: 4px;
  padding: 3px 3px;
}

#social {
  background: #99cc00;
  border-radius: 4px;
  padding: 3px 3px;
}

.side {
  /* float: left; */
  margin: 10px 25px;
  width: 120px;
}

#blockButton {
  padding: 115px 0px;
}

#blocoImage {
  padding: 0px 0px;
  position: relative;
  left: 200px;
  top: 100px;
}
